@{
    ViewBag.Title = "Awards";
}

<div class="wrapper">
    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3 class="primary-font">Awards</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li>@Html.ActionLink("Gazelle Systems", "Gazelle", "Home")</li>
                        <li>@Html.ActionLink("PowerQuest", "PowerQuest", "Home")</li>
                        <li>@Html.ActionLink("NumberGun", "NumberGun", "Home")</li>
                        <li class="active">Awards</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">

                <h1>Awards and Recognition</h1>
                <p>
                    Most of the personal awards I've received have come due to my company PowerQuest. This was an
                    incredible ride, and I couldn't have done it without some amazing people surrounding me, including
                    my brother Dave and the rest of my wonderful intial team: Robert Raymond, Michael Robertson, Troy Millet, Ron Hammond,
                    and John Christensen.
                </p>
                <p>
                    And our amazing team was added upon many times.  We were able to attract and hire
                    other talented professionals who joined our company... and then became wonderful friends.
                    We would say how grateful we were for such a great situation with WordPerfect and Novell close by:
                    they would find, hire, and train the most incredible talent... then we would steal them and make 'em ours!
                </p>
            </div>
        </div>

        <h2>Intellectual Property</h2>
        <div class="row">
            <div class="col-sm-8">
                <p>
                    Prior to starting PowerQuest, I wasn't sure about patents and how important they might be. Our counsel,
                    <a target="_blank" href="http://ogilvielawfirm.com/Frame-5-credentialspage5.html?refresh=1310824596743">John Ogilvie</a>,
                    helped me understand that they are important, that they could and would make a difference for us. I'm glad I listened.
                </p>
                <p>
                    Here is a list of @Html.ActionLink("patents issued to me and/or pending", "IP"). Most came from my PowerQuest
                    ideas. The pending ones relate to @Html.ActionLink("NumberGun", "NumberGun").
                </p>
            </div>
        </div>

        <h2>Links related to PowerQuest</h2>
        <div class="row">
            <div class="col-sm-8">
                <p>
                    So, here are some of the things said about me and our team and our products. For better or for worse,
                    I am willing to be blamed for them:
                </p>
                <ul>
                    <li>
                        <a target="_blank" href="http://www.prnewswire.co.uk/news-releases/us-patent-office-awards-hard-disk-partitioning-patent-to-powerquest-156531875.html">
                            My first patent!
                        </a>
                        <p>
                            We were so excited to see our first application actually issue,
                            especially my brother Dave and me. This thrilling ride just kept soaring.
                        </p>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.prnewswire.com/news-releases/powerquest-president-named-entrepreneur-of-year-founder-eric-j-ruff-honored-for-role-in-emerging-utah-corporation-78077332.html">
                            Emerging Business Entrepreneur of the Year award; Founder Eric J. Ruff Honored for Role in Emerging Utah Corporation
                        </a>
                        <p>I was one of 9 recipients in Salt Lake in June of 1998.</p>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.deseretnews.com/article/486686/EXECUTIVE-FOCUS--ERIC-J-RUFF-PRESIDENTCEO-POWERQUEST-CORP-OREM.html?pg=all">
                            EXECUTIVE FOCUS: ERIC J. RUFF, PRESIDENT/CEO, POWERQUEST CORP. OREM
                        </a>
                        <p>A snapshot of me and PowerQuest in our local paper, at $10 million in revenues.</p>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.inc.com/magazine/20001015/20853.html">
                            PowerQuest is #64
                        </a>
                        <p>
                            Inc. Magazine Listings for 2000 (the Inc. 500 list).
                        </p>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.inc.com/magazine/20001015/20758.html">
                            "Supersize Those Fries!"
                        </a>
                        <p>
                            When Inc. Magazine came to interview me, they asked me if I had any major financial goal I set for
                            myself when I first started PowerQuest. And I knew immediately that they would print my answer!
                        </p>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.inc.com/profile/powerquest">
                            More
                        </a>
                        <p>
                            PowerQuest
                        </p>
                    </li>
                    <li>
                        <a target="_blank" href="https://books.google.com/books?id=_l3lJZeMm7YC&pg=PT69&lpg=PT69&dq=eric+ruff+powerquest&source=bl&ots=7DbaabjiDU&sig=h3novDYiDgmJPsZfj2yOYP_E2wk&hl=en&sa=X&ved=0CCoQ6AEwAzgKahUKEwjZ74-Vwe3GAhXGoogKHR3tAl4#v=onepage&q=eric%20ruff%20powerquest&f=false">
                            ... Eric Ruff, president and CEO of PowerQuest Corp. Microsoft officials weren't
                            immediately available for comment.
                        </a>
                        <p>
                            <cite>Computerworld</cite> May 4 1998. I love seeing the comment about Microsoft
                            immediately after my name is mentioned! This had to do with many of the leaders in
                            the software industry were concerned about Microsoft's push to get a seat on the
                            board of the Software Publishing Association.
                        </p>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.ey.com/US/en/About-us/Entrepreneurship/Entrepreneur-Of-The-Year/PNW_UTAH_pastwinners">
                            EY Entrepreneur Of The Year®
                        </a>
                        <p>I'm listed for 1999.</p>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.weforum.org/pdf/techpioneers/2000.pdf">
                            Technology Pioneers 2000
                        </a>
                        <p>
                            From the <cite>World Economic Forum</cite>. Glad I was selected to be a part of this. I was invited to a wonderful week in Davos Switzerland
                            and was able to rub shoulders with many of the people on this list.
                        </p>
                    </li>
                    <li>
                        <a target="_blank" href="https://books.google.com/books?id=MRkEAAAAMBAJ&pg=PA103&lpg=PA103&dq=eric+ruff+powerquest&source=bl&ots=J07vcUOffQ&sig=7nmTPISElt2F4_WnTzgK76-nvLw&hl=en&sa=X&ved=0CD4Q6AEwBzgKahUKEwjZ74-Vwe3GAhXGoogKHR3tAl4#v=onepage&q=eric%20ruff%20powerquest&f=false">
                            Another snapshot on me...
                        </a>
                        <p>
                            in <cite>Network World</cite> again (Sep 11 2000). Little did any of us have a clue about
                            what was to occur exactly one year later.
                        </p>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.melbpc.org.au/pcupdate/9704/9704article5.htm">
                            "We were rolling in the aisles as PowerQuest's President, Eric Ruff entertained us
                            with the saga of his attempts to partition a hard drive...
                            the story would have held its own with classic Mister Bean episodes."
                        </a>
                        <p>
                            Wow... and they listed me along with Gordon Eubanks, President and CEO of
                            Symantec. What more can I say?
                        </p>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.paulallen.net/what-to-do-with-good-news-and-bad-news/">
                            "... the way to ensure success in a startup company is to identify all the reasons
                            for potential failure and eliminate them one at a time."
                        </a>
                        <p>Scroll about half way down to see what I said.</p>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.thefreelibrary.com/PowerQuest+Still+Fastest+Growing+Company%3B+Latest+Award+Culminates+Big...-a057157915">
                            "PowerQuest Still Fastest Growing Company; Latest Award Culminates Big Year for PowerQuest"
                        </a>
                        <p>
                            "Since he founded the company in 1993, PowerQuest and Ruff have earned more than
                             100 awards and honors. In December, he will also be a keynote speaker at the 
                            Partners in Business Leadership Conference at Utah State University, an honor 
                            previously given to well known financial and business leaders such as Alan Greenspan and Malcolm Forbes."
                        </p>
                        <p>
                            OK, truth be told, my own P/R department wrote this. But it's still fun to see such great quotes in print.
                        </p>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.entrepreneur.com/article/26600">
                            "Secret To My Financing: 
                            Entrepreneurs share how they got their start-up funds""
                        </a>
                        <p>
                            Article in <cite>Entrepreneur</cite>, the Apr 30 200 issue. Shows the extent to which I went to find money to fund PowerQuest. In retrospect, I would
                            advise others to NOT go into so much debt, it really strains your marriage and other
                            relationships.
                        </p>
                    </li>
                    @*<li>
                            <a target="_blank" href="http://www.artsandcraftsdir.com/Crafts_Shopping/Crafts_Supplies/Scrapbooking_Supplies/Diecuts_Supplies/77278-7420.html">
                                Quic Kutz,Inc in Crafts Supplies Directory
                            </a>
                            <p>I loved QuicKutz, and totally loved working with Mark and Natasha Hixon.</p>
                        </li>*@
                </ul>
            </div>
        </div>
    </div>
</div>

