
@{
    ViewBag.Title = "Resume";
}
@section NeedHover {
    <link href="~/css/hover-min.css" rel="stylesheet" media="all">
}

@*ToDo List

    [ ] Ask Ashley to help with main page, getting slides and text overlays just right

*@
<div class="wrapper">
    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3 class="primary-font">Resume</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="active">Resume</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 animated slideInLeft">
                <h2 class="headline first-child text-color">
                    ERIC J. RUFF
                </h2>

                <p>Email <span class="sep"></span> ejames.ruff@gmail.com</p>
                <div class="">
                    <h2>OBJECTIVE</h2>
                    <p>
                        To secure an executive leadership position in a company where
                        I can use my skills to help build a stellar team; to innovate and produce unique
                        and compelling solutions; to implement failure-avoidance strategies to
                        guarantee continual success; and to consistently exceed sales and marketing
                        targets.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 animated slideInRight">
                <div class="">
                    <img style="width:300px;height:280px;" src="~/img/EricRuff-002.jpg" title="Married with 6 kids and 6 grandkids; Born a few year ago" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="animated slideInLeft">
                    <div class="">
                        <h2>
                            EXECUTIVE BACKGROUND
                        </h2>
                        <p>
                            I help companies grow quickly by helping design
                            and build the development, sales and marketing strategies to deliver those
                            solutions. I enjoy surrounding myself
                            with people better than me; I let them do what they do best while I help
                            eliminate weaknesses and improve strengths. I love to roll up my sleeves and
                            help in development, customer service, marketing, or closing a deal. I
                            understand intellectual-property issues and have been actively involved in over
                            15 patent applications. I have
                            <span>@Html.ActionLink("multiple U.S. and other patents", "IP", "Home")</span>
                            issued in my name and others pending.
                        </p>
                    </div>
                </div>

                <div class="animated slideInLeft ">
                    <br />
                    <div class="">
                        <h2>WORK EXPERIENCE</h2>
                        <h4>
                            Private Consultant <span class="sep"></span>
                            Provo, UT <span class="sep"></span> 2015 - present
                        </h4>
                        <p>
                            Programming work for various local companies. Creating
                            Java-based desktop applications, Google Docs API / Javascript
                            programming.
                        </p>

                        <h4>@Html.ActionLink("NumberGun, LLC", "NumberGun")
                            <span class="sep"></span> Salt Lake City, UT <span class="sep"></span> 2012 – 15
                        </h4>

                        <p>
                            Hi-tech software company. Positions held: co-founder, President/CEO,
                            CTO, programmer. Created technology that offers substantial speed up of
                            web-page rendering and text/numeric formatting processes. Technology still
                            under development; multiple patents pending.
                        </p>

                        <h4>
                            Private Consultant / Hiatus <span class="sep"></span> Pleasant
                            Grove, UT <span class="sep"></span> 2010 – 13
                        </h4>

                        <p>
                            Private consultant to local companies regarding growth
                            strategies, patent litigation. Worked with Java, Alpha Five/Xbasic,
                            C/C++, assembly language implementations.
                        </p>

                        <h4>QuicKutz, Inc. <span class="sep"></span> Orem, UT <span class="sep"></span> 2001–10</h4>

                        <p>
                            Scrapbooking company. Positions held: co-founder, CEO, President.
                            Pioneered innovative, complex chemical-etching processes, other manufacturing
                            innovations that reduced COGS by more than 75%. Architected hi-speed software solution (in C#) to
                            manage digital designs.
                        </p>

                        <h4>@Html.ActionLink("PowerQuest Corporation", "PowerQuest") <span class="sep"></span> Orem, UT <span class="sep"></span> 1993–2001</h4>

                        <p>
                            Hi-tech software company. Positions held: founder, CEO,
                            President, CTO, software architect/programmer. Introduced <cite>PartitionMagic</cite>
                            in 1995 and garnered the coveted Best of Comdex award. Also introduced
                            <cite>ServerMagic</cite>, <cite>Drive Image</cite>, and <cite>DriveCopy</cite>.
                        </p>
                        <p>
                            Company experienced meteoric revenue growth: $1.8 million in 1995 (first year
                            of revenue); quadrupling to $8.3 million in 1996; tripling to $25.7 million in
                            1997. Eventually reached $64 million in
                            global revenues and employed over 400 individuals in Utah, Texas, London, and
                            Munich.
                        </p>
                        <p>
                            Received over 120 awards for company and its products; received
                            <span>@Html.ActionLink("8 U.S. and other patents", "IP", "Home")</span> issued in my name.
                            Helped successfully defend patents in
                            litigation. Sold to Symantec Corporation in Dec 2003 for $150 million.
                        </p>

                        <h4><span>@Html.ActionLink("Gazelle Systems", "Gazelle")</span> <span class="sep"></span> Provo, UT <span class="sep"></span> 1985–93</h4>

                        <p>
                            Hi-tech software company. Positions held: founder, CEO,
                            President, head of technology, programmer. Creator of
                            <cite>Q-DOS</cite>, <cite>Back-It</cite>, and
                            <cite>OPTune</cite>. Grew sales to $2.7 million. Sold in 1993.
                        </p>

                        <h4>
                            <span class=SpellE>Delstar</span>
                            Corporation <span class="sep"></span> Murray, UT <span class="sep"></span> 1984–85
                        </h4>

                        <p>
                            Environmental-consulting firm. Positions held: controller,
                            programmer.
                        </p>

                        <h4>Private Consultant <span class="sep"></span> Provo, UT <span class="sep"></span> 1983–84</h4>

                        <p>
                            Consultant for several companies. Projects included
                            financial audits, bookkeeping/accounting, software development.
                        </p>

                        <h4>Target, Inc. <span class="sep"></span> San Ramon, CA <span class="sep"></span> 1982–83</h4>

                        <p>
                            Publishing company. Positions held: Junior Controller,
                            Accounts Payable Supervisor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="animated slideInRight">
                    <div class="">

                        <h2>@Html.ActionLink("PERSONAL AWARDS", "Awards")</h2>

                        <p>
                            <em>Ernst &amp; Young Entrepreneur of the Year</em> (finalist,
                            2007, Utah)
                        </p>

                        <p>
                            <em>World Economic Forum Technology Pioneer</em> (2000, Davos
                            Switzerland)
                        </p>

                        <p><em>Ernst &amp; Young Entrepreneur of the Year</em> (1998, Utah)</p>

                        <p>
                            <em>Utah Valley Entrepreneurial Forum Entrepreneur of the Year</em> (1995, Utah)
                        </p>
                        <br />
                    </div>
                </div>

                <div class="animated slideInRight">
                    <div class="">
                        <h2>@Html.ActionLink("COMPANY AWARDS", "Awards")</h2>
                        <h4>Over 120 awards for PowerQuest, including the following:</h4>

                        <p><em>Inc. 500 list</em> (2000, #64)</p>

                        <p><em>Technology Fast 500</em> (1999, #8)</p>

                        <p><em>Utah’s Fastest Growing Company</em> 2 years in a row (1999 &amp; 1998, Utah)</p>

                        <p><em>Best of Show, Comdex/BYTE Magazine</em> (1995, for <cite>PartitionMagic</cite>)</p>

                        <p>
                            <em>Business of the Year / City of Orem</em> (1995, Orem Utah)
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="animated slideInLeft">
                    <div class="">
                        <h2>ASSOCIATIONS</h2>
                        <p>
                            <h4 class="md">
                                Member <span class="sep"></span> Utah Valley Entrepreneurial Forum <span class="sep"></span> 1992–01,
                                2013–present
                            </h4>
                        </p>
                        <p>
                            <h4 class="md">
                                Scoutmaster <span class="sep"></span> Pleasant Grove, UT <span class="sep"></span> 2006–08
                            </h4>
                        </p>
                        <p>
                            <h4 class="md">
                                Board of Directors <span class="sep"></span> Commission for Economic Development
                                of Orem - Business Incubator <span class="sep"></span> 1998–2001
                            </h4>
                        </p>
                        <p>
                            <h4 class="md">
                                Scoutmaster / Venture Coach <span class="sep"></span> Orem, UT <span class="sep"></span> 1993–96
                            </h4>
                        </p>
                        <p>
                            <h4 class="md">
                                Board member <span class="sep"></span> Utah Valley Entrepreneurial Forum <span class="sep"></span> 1992–94
                            </h4>
                        </p>
                        <p>
                            <h4 class="md">
                                Volunteer representative for non-profit organization in
                                Belgium and France <span class="sep"></span> 1976–1978
                            </h4>
                        </p>
                        <br />
                    </div>
                </div>
                <div class="animated slideInLeft">
                    <div class="">
                        <h2>FORMAL EDUCATION</h2>
                        <p>
                            <h4>B.S. Accounting <span class="sep"></span>
                                <a target="_blank" href="http://home.byu.edu/home/">Brigham Young University</a>
                            <span class="sep"></span> 1982</h4>
                        </p>
                        <br />
                    </div>
                </div>
                <div class="animated slideInLeft">
                    <div class="">
                        <h2>INFORMAL EDUCATION</h2>
                        <p>
                            <h4>
                                Software development
                            </h4>
                        </p>
                        <p>
                            Intel assembly language (FASM), C/C++, C#,
                            Java, Google Docs API, JavaScript, HTML5, CSS3, Excel and VBA/macro programming, Alpha Five
                            (database, Xbasic programming).
                        </p>
                        <p>
                            <h4>
                                Technologies
                            </h4>
                        </p>
                        <p>
                            Windows API, .NET, file systems, storage
                            (hard drives, partitioning); Microsoft Office, OpenOffice, QuickBooks
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hvr-grow-shadow">
            <p><i><span style='font-size:8.0pt'>Updated: 21 July 2015</span></i></p>
        </div>
    </div>
</div> <!-- wrapper -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $("main-menu").removeClass("active");
            $("#menuResume").addClass("active");
        });
    </script>
}


